<!DOCTYPE html>
<html>
<head>
<title>แก้ไขพนักงาน</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h2>แก้ไขข้อมูลพนักงาน</h2>

<form action="/update_employee" method="post">

<input type="hidden" name="emp_id" value="{{ emp[0] }}">

<p>รหัสพนักงาน: {{ emp[0] }}</p>

<input type="text" name="name" value="{{ emp[1] }}">

<select name="department">
<option {{ "selected" if emp[2]=="IT" else "" }}>IT</option>
<option {{ "selected" if emp[2]=="HR" else "" }}>HR</option>
<option {{ "selected" if emp[2]=="บัญชี" else "" }}>บัญชี</option>
<option {{ "selected" if emp[2]=="การตลาด" else "" }}>การตลาด</option>
</select>

<select name="position">
<option {{ "selected" if emp[3]=="พนักงาน" else "" }}>พนักงาน</option>
<option {{ "selected" if emp[3]=="หัวหน้า" else "" }}>หัวหน้า</option>
<option {{ "selected" if emp[3]=="ผู้จัดการ" else "" }}>ผู้จัดการ</option>
</select>

<br><br>

<button class="btn-green">บันทึกการแก้ไข</button>

</form>

<br>

<a class="back-btn" href="/employees">กลับ</a>

</div>

</body>
</html>