<!DOCTYPE html>
<html>
<head>
<title>พนักงานทั้งหมด</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h2>รายชื่อพนักงาน</h2>

<table>

<tr>
<th>รหัส</th>
<th>ชื่อ</th>
<th>แผนก</th>
<th>ตำแหน่ง</th>
<th>แก้ไข</th>
<th>ลบ</th>
</tr>

{% for emp in data %}
<tr>

<td>{{ emp[0] }}</td>
<td>{{ emp[1] }}</td>
<td>{{ emp[2] }}</td>
<td>{{ emp[3] }}</td>

<td>
<a class="menu-btn" href="/edit_employee/{{ emp[0] }}">แก้ไข</a>
</td>

<td>
<a class="delete-btn"
href="/delete_employee/{{ emp[0] }}"
onclick="return confirm('ต้องการลบพนักงานนี้หรือไม่?')">
ลบ
</a>
</td>

</tr>
{% endfor %}

</table>

<br>

<a class="back-btn" href="/">กลับหน้าแรก</a>

</body>
</html>